/* RESET CSS */
*{
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
/* COMMON-Các thuộc tính dùng chung */
html{
   scroll-behavior: smooth;
   /* họ phông chữ */
   font-family: Arial, Helvetica, sans-serif;
}

.text-white{
   color: #fff !important;
}
.text-center{
   /* căn giữa văn bản theo chiều ngang trong khối*/
   text-align: center !important;
}
.pull-right{
   float: right !important;
}
.mt-8{
   margin-top: 8px !important;
}
.mt-16{
   margin-top: 16px !important;
}
.mt-32{
   margin-top: 32px !important;
}
.row{
   /* kéo về sát 2 bên cạnh giao diện để bù trừ với padding*/
   margin-left: -8px;
   margin-right: -8px;
}
/* tạo ra một thẻ giả để giải quyết vấn đề của float
(ngang hàng với thẻ row) */
.row::after{
   content: "";
   display: block;
   clear: both;
}
.col{
   /* kéo lên thành 1 hàng ( z tăng ) ép vào bên trái */
   /* và thẻ cha chứa chúng sẽ bị thu hẹp lại, đây là một nhược điểm của lệnh float  */
   float: left;
   padding-left: 8px;
   padding-right: 8px;
}
.col-full{
   /* 1 thẻ chiếm trọn thẻ cha */
   width: 100%;
}
.col-half{
   /* cách đều 2 thẻ trong thẻ cha  */
   width: 50%;
}
.col-third{
   /* cách đều 3 thẻ trong thẻ cha, sau này nên sử dụng Flex */
   width: 33.33333%;
}

#nav, .subnav, .ticket-list{ 
   /* bỏ dấu chấm trước danh sách */
   list-style-type: none;

}

/* Main */
#main{

}

#header{
   height: 46px;
   background-color: #000;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   /* chiều sâu của thẻ (trục z) */
   z-index: 1;
}

#nav{
   /* display: inline-block; */
}


#nav > li{
   /* display: inline-block; */
   float: left;
}

#nav li{
   position: relative;
}


#nav > li > a {
   /* viết  in hoa  */
   text-transform: uppercase;
   color: #fff;
}

#nav li a{
   /* bỏ gạch chân */
      text-decoration: none;
      line-height: 46px;
      padding: 0 24px;
      display: inline-block;
}

#nav li:hover .subnav{
   /* chỉ vào MORE thì hiện block subnav */
   display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
   color: #000;
   background-color: #ccc;
   /* display: block; */
}

#nav .subnav{
      display: none;
      min-width: 160px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      /* hiệu ứng bóng mờ xung khoanh, còn có text-shadow */
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
   padding:0 12px;
   color:#000;
   line-height: 38px;
}
#nav .nav-arrow-down {
   font-size: 10px;
}
#header .mobile-menu-btn, 
#header .search-btn{
   padding: 0 21px;
}

#header .mobile-menu-btn{
   position: absolute;
   top: 0;
   right: 0;
   display: none; /* ẩn nút mobile-menu*/
}

#header .search-btn:hover{
   background-color: #f44336;
   /* hiệu ứng bàn tay khi trỏ vào */
   cursor: pointer;
}
#header .mobile-menu-btn:hover{
   background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
   color: #000;
}

#header .menu-icon, 
#header .search-icon{
   line-height: 46px;
   color: #fff;
   font-size: 20px;
}

#slider{
   position: relative;
   margin-top: 46px;
   /* 50% chiều ngang của chính nó */
   /* thủ thuật này rất quan trọng trong background img để đảm bảo tỉ lệ ảnh hiển thị*/
   padding-top: 50%;
   background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
   position:absolute;
   color:#fff;
   bottom: 47px;
   /* căn giữa khối trong khối
   Cách 1: width: 100%
   Cách 2: left:0;
           right:0;
   Cách 3: */
   left: 50%;
   transform: translateX(-50%);
}

#slider .text-heading{
   /* 500-700 */
   font-weight: 500;
   font-size: 24px;
}

#slider .text-description{
   font-size: 15px;
   margin-top: 25px;
   /* bóng mờ sau chữ */
   text-shadow: 0 0 1px #000;
}

#content{

}

#content .content-section{
   width: 800px;
   max-width: 100%;
   /* đẩy sang trái sang phải một khoảng auto */
   margin-right: auto;
   margin-left: auto;
   padding: 64px 0 112px;
   /* fix giao diện tablet */
   padding-left: 16px;
   padding-right: 16px;
}

#content .section-heading{
   font-size: 30px;
   font-weight: 500;
   text-align: center;
   /* khoảng cách giữa các chữ cái */
   letter-spacing: 4px;
}

#content .section-sub-heading{
   font-size: 15px;
   text-align: center;
   margin-top: 25px;
   /* chữ nghiêng */
   font-style: italic;
   /* làm mờ đi, giữ lại 60% */
   opacity: 0.6;
}

#content .about-text{
   margin-top: 20px;
   font-size: 15px;
   /* văn bản căn đều 2 bên như trang báo */
   text-align: justify;
   line-height: 1.4; /*đối với văn bản tiếng việt thì nên là 1.6*/
}

#content .member-list{
   margin-top: 16px;
}


#content .member-name{
   font-size: 15px;
}

#content .member-img{
   width: 154px;
   margin-top: 15px;
   /* bo tròn 4 góc của border */
   border-radius: 4px; 
}

/* Tour Section */
.tour-section{
   background-color: #000;
}

#content .ticket-list{
   background-color: #fff;
   margin-top: 40px;
}

.ticket-list li{
   color: #757575;
   font-size: 15px;
   padding: 11px 16px;
   border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
   color: #fff;
   background-color: #f44336;
   padding: 3px 4px;
   margin-left: 16px;
}

.ticket-list .quantity{
   background-color: #000;
   float: right;
   color: #fff;
   height: 24px;
   width: 24px;
   /* bo hình tròn    */
   border-radius: 50%;
   text-align: center;
   line-height: 24px;
   margin-top: -3px; /* có hiệu lực do có Float */
}

/* Place  */
.places-list{
   margin-top: 16px;
}

.place-img{
   width: 100%; 
   display:block;
}
.place-img:hover{
   opacity: 0.6;
}

.place-body{
   padding: 16px;
   font-size: 15px;
   background-color: #fff;
}

.place-heading{
   font-size: 15px;
   font-weight: 600;
}

.place-time{
   margin-top: 15px; 
   color: #757575;
}

.place-desc{
   margin-top: 15px;
   line-height: 1.4;
}

.btn{
   color: #fff;
   background-color: #000;
   text-decoration: none;
   padding: 11px 16px;
   /* display: inline-block; */
   margin-top: 15px;
   border: none; 
   /* bỏ thộc tính mặc định trên trình duyệt bth và satify của iphone */
   appearance: none;
   -webkit-appearance: none;
}
.btn:hover{
   color: #000;
   background-color: #ccc;
   cursor: pointer;
}
/* Contact */
.contact-content{
   margin-top:48px;
}

.contact-info{
   font-size: 18px;
   line-height: 1.5;
}

.contact-info i[class*=ti-]{
   width: 30px;
   display: inline-block;
}

.contact-info a{
   color: #101aef;
   opacity: 0.8;
}

.contact-info a:hover{
   opacity: 1;
}

.contact-form{
   font-size: 15px;
}

.contact-form .form-control{
   padding: 10px;
   border: 1px solid #ccc;
   width: 100%;
   /* outline: none; */
}


/* Footer Section */
#footer{
   padding: 64px 16px;
}

#footer .socials-list{
   font-size: 24px;
}
#footer .socials-list a{
   text-decoration: none;
   color: rgba(0,0,0,0.6);
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
   color: rgba(0,0,0,0.4);
}
#footer .copyright{
   margin-top: 15px;
   color: rgba(0,0,0,0.6);
}
#footer .copyright a{
   color: rgba(0,0,0,0.6);
}


/* MODAL */
.modal{
/* Tạo OVERLAY */
   position: fixed;
   /* tràn cả màn hình  */
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0,0,0,0.4);
   /* THUỘC TÍNH CĂN GIỮA NÂNG CAO  */
   align-items: center;
   justify-content: center;
   display: none;
}

.modal.open{
   display: flex;
}

.modal-container{ 
   background-color: #fff;
   width: 900px;
   max-width: calc(100% - 32px);
   min-height: 200px;
   position: relative;
   /* hiệu ứng chuyển động */
   animation: modalFadeIn ease .6s ;
}

.modal .modal-header{
   background-color: #009688;
   height: 130px;
   /* căn giữa nâng cao  */
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: #fff;
   letter-spacing: 3px;
}

.modal-heading-icon{
   margin-right: 16px;
}

.modal-close{
   position:absolute;
   right:   0;
   top: 0;
   color: #fff;
   padding: 12px;
   cursor: pointer;
   opacity: 0.8;
}
.modal-close:hover{
   opacity: 1;
}

.modal-body{
   padding: 16px;
}
.model-label{
   display:block;
   font-size: 15px;
   margin-bottom: 12px;
}
.modal-input{
   border: 1px solid #ccc;
   width: 100%;
   padding: 10px;
   font-size: 15px;
   margin-bottom: 24px;
}

#buy-tickets{
   background-color: #009688;
   border: none;
   width: 100%;
   font-size: 15px;
   text-transform: uppercase;
   padding: 18px;
   cursor: pointer;
}
#buy-tickets:hover{
   opacity: 0.9;
}

.modal-footer{
   padding: 15px;
   font-weight: 520;
   /* đưa element sang phía bên phải */
   text-align: right;
}

.modal-footer a{
   color: #2196F3;
}

@keyframes modalFadeIn{
   from{
      opacity: 0;
      transform: translateY(-150px);
   }
   to{
      opacity: 1;
      transform: translateY(0);
   }
}